[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/chenliwei2019
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/chenliwei2019
	label-Verified = -1..+1 group user/chenliwei2019
	push = group user/chenliwei2019
	read = group user/chenliwei2019
	rebase = group user/chenliwei2019
	removeReviewer = group user/chenliwei2019
	submit = group user/chenliwei2019
[access "refs/heads/*"]
	create = group user/chenliwei2019
	push = +force group user/chenliwei2019
	pushMerge = group user/chenliwei2019
	read = group user/chenliwei2019
[access "refs/tags/*"]
	push = group user/chenliwei2019
	push = +force group user/chenliwei2019
